<header class="desktop">
    <nav class="container">
        <ul>
            <li><img src="/assets//static/images/logo.png" alt="logo" class="desktop-logo" routerLink="/"></li>
            <li *ngIf="isUserLoggedIn" class="menu__buttons"><a href="javascript:void(0)" routerLink="/home"
                    routerLinkActive="menu__buttons-active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li *ngIf="isUserLoggedIn" class="menu__buttons"><a href="javascript:void(0)" routerLink="/products"
                    routerLinkActive="menu__buttons-active">Products</a></li>
        </ul>
        <div class="container__cart-login">
            <div class="container__login">
                <ul>
                    <li *ngIf="!isUserLoggedIn"><a href="javascript:void(0)" routerLink="/login"
                            routerLinkActive="active">Sign In</a></li>
                    <li *ngIf="isUserLoggedIn"><a href="javascript:void(0)" (click)="signOut()" class="active" routerLinkActive="active">Sign
                            Out</a></li>
                    <li><a href="javascript:void(0)" routerLink="/register" routerLinkActive="active">Register</a></li>
                </ul>
            </div>
            <button *ngIf="isUserLoggedIn" class="cart-btn" (click)="openCart()">
                <img class="cart-logo" src="/assets//static/images/cart.svg" alt="Cart Logo" aria-label="Cart Logo">
                <span class="cart-itemcount">{{itemCount}} {{itemCount ? 'items' : 'item'}} </span>
            </button>
        </div>
    </nav>
</header>
<header class="mobile">
    <nav class="container__mobile">
        <img src="/assets//static/images/logo.png" alt="logo" class="desktop-logo" routerLink="/">
        <div *ngIf="isUserLoggedIn">
            <button class="cart-btn" (click)="openCart()">
                <img class="cart-logo" src="/assets//static/images/cart.svg" alt="Cart Logo" aria-label="Cart Logo">
                <span class="cart-itemcount">{{itemCount}} {{itemCount ? 'items' : 'item'}} </span>
            </button>
        </div>
        <button class="menu" aria-label="Menu Icon" class="menu__list-btn" (click)="toggleMenuList()">
            <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        </button>

    </nav>
</header>
<ul class="menu__list" *ngIf="showMenuFlag">
    <li *ngIf="isUserLoggedIn"><a href="javascript:void(0)" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li *ngIf="isUserLoggedIn"><a href="javascript:void(0)" routerLink="/products"
            routerLinkActive="active">Products</a>
    </li>
    <li *ngIf="!isUserLoggedIn"><a href="javascript:void(0)" routerLink="/login" routerLinkActive="active">Sign In</a>
    </li>
    <li *ngIf="isUserLoggedIn"><a (click)="signOut()" class="active">Sign Out</a></li>
    <li><a href="javascript:void(0)" routerLink="/register" routerLinkActive="active">Register</a></li>
</ul>