<div class="modal-header">
  <h4 class="modal-title cart__title" id="modal-basic-title">My Cart</h4>
  <button type="button" class="close cart__close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngFor="let item of cartArray;let i = index">
    <div class="cart__product">
      <img class="product__img" [src]="imageURLPrefix+item?.imageURL" [alt]="item?.name" />
      <div class="product__detail">
        <span class="product__name"> {{item?.name}}</span>
        <div class="product__btn">
          <a href="javascript:void(0)" [ngClass]="item?.quantity! >= item?.stock! ? 'action__btn-disabled action_btn' : 'action__btn-active action_btn' " (click)="increment(i)">+</a>
          <span class="product__qty"> {{item?.quantity }}</span>
          <a href="javascript:void(0)" class="action__btn-active action_btn" (click)="decrement(i)">-</a>
          <span class="cross_icon" aria-hidden="true">&times;</span>
          <span> Rs. {{item?.price}} </span>
        </div>
      </div>
      <span class="product__final_price"> Rs. {{item?.totalPrice}} </span>
    </div>

  </ng-container>
  <section *ngIf="!cartArray.length" class="empty__cart">
    <h3>No Items in your cart</h3>
    <p>Your favourite items are just a click away</p>
  </section>
  <div class="promotion__banner">
    <img [src]="promotionImageURL" alt="promotion banner" aria-label="promotion banner" />
    <p class="promotion__text">You won't find cheaper anywhere</p>
  </div>
</div>
<div class="modal-footer">
  <p *ngIf="cartArray.length">Promo code can be applied on payment page</p>
  <button *ngIf="cartArray.length" type="button" class="btn btn-outline-dark checkout__btn"
    (click)="_activeModal.close('Save click');routeToProducts()">
    <span>Proceed to Checkout</span>
    <span> Rs.{{totalCartPrice}} &nbsp; &nbsp; ({{totalItemCount}})</span>
  </button>
  <section *ngIf="!cartArray.length">
    <button type="button" class="btn btn-outline-dark start__btn" (click)="_activeModal.close('Save click');routeToProducts()"
     >
      <span> Start Shopping</span>
    </button>
  </section>
</div>