@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&display=swap");

$fontFamily: "Dosis", sans-serif, serif;
$themeColor: #bf2957;
$secondaryTextColor: #9a8d8d;
$backgroundColor: #fff;
$fontSize: 14px;
$fontSizeMobile: 10px;
$headerColor: #b1aaaa;
$fontColor: white;
$footerColor: #dcdcdc;
$headerBoxShadow: rgb(0 0 0 / 20%) 3px 6px 10px;
