/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables";
@import "./assets/scss/common";


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: 0 !important;
  }
  html{
    scroll-behavior: smooth;
  }
body{
    display: flex;
    font-size: $fontSize;
    flex-wrap: column wrap;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    font-family: $fontFamily !important;
    flex-direction: column;
    a{
        text-decoration: none;
    }
    a:hover{
        color:$themeColor
    }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
